<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Natural Language Processor</title>
</head>

<body class="home">
    <header>
        <h1 class="title">
            Natural Language Processor
        </h1>
        <nav>
            <ul class="nav-menu">
                <li>
                    <a href="./index.html">Home</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="input">
            <form class="input-form" id="input-form">
                <label for="url">Web page address:</label>
                <input type="url" name="url" id="url" placeholder="https://example.com" size="30"
                    required>
                <input type="submit" name="submit" id="submit" value="Submit">
                <div class="loading-msg">Analysing. Please wait...</div>
                <div class="error-msg" id="error"></div>
            </form>
        </section>
        <section id="results-section" class="output">
            <h2>Results:</h2>
            <div id="results" class="results"></div>
        </section>
    </main>

    <footer>
        <div class="legal-info">
            <p>© 2021 David C. Page</p>
        </div>
    </footer>

    <script>
        // Run service worker.
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant.
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>