
// Fonts.
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// Typology.
p,
a,
h1,
h2,
label,
input,
div {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

// Main layout.
body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: linear-gradient(0deg, #bbbbbb, transparent);
    min-height: 83vh;
}

@media only screen and (min-width: 960px) {
    main {
        min-height: unset;
    }
}
