
@keyframes flash {

    from {
        background: rgba(255, 255, 255, 0);
    }

    5% {
        background: rgba(255, 255, 255, 1);
    }

    30% {
        background: rgba(255, 255, 255, 1);
    }

    to {
        background: rgba(255, 255, 255, 0.6);
    }

}

.output {

    display: none;
    background: rgba(255, 255, 255, 0.6);
    animation-name: flash;
    animation-duration: 3s;

    &.has-result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 36px 19px;
    }

    .results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 30px;
        padding: 10px 0;
    }

}
